{% extends 'base_tow.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
			            <link rel="stylesheet" href="{{asset('fontawesom/css/all.min.css')}}">
    
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{asset('fontawesom/js/all.min.js')}}"></script>
    
{% endblock %}

{% block body %}
<form action="{{ path('app_register_save') }}" method="post">
		<h1 class="container mt-4">HOSIX</h1>
		<div class="container w-25 mt-5">
			<h2 class="h3 mb-3 font-weight-normal">Register</h2>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Full name</label>
				<input type="text" class="form-control" name="fullname" placeholder="full name" autocomplete="nope"/>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Username</label>
				<input type="text" class="form-control" name="username" placeholder="username" autocomplete="nope"/>
			</div>
			<div class=" mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" class="form-control" name="plainPassword" placeholder="passworld" autocomplete="nope"/>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
{% endblock %}
